body {
  margin: 20px;
  padding: 20px;
}

.card-body {
  background-color: #ebe6e6;
  border-radius: 30px;
  max-width: fit-content;
}

.card-header {
  background-color: transparent;
}

h1 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 900;
}

#current-day-time {
  font-size: 18px;
  line-height: 14px;
  font-weight: 250;
  color: #6d42c7;
}

.temp-description {
  font-weight: bold;
  color: #6d42c7;
}

.weather-temperature img {
  margin-right: 5px;
  height: 74px;
  width: 74px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 19px;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.row {
  margin-top: 50px;
}
.col {
  margin-bottom: 5px;
}

ul {
  position: relative;
  right: -30%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 250;
  line-height: 19px;
  color: #6d42c7;
}

li:first-letter {
  text-transform: capitalize;
}

.weekdays {
  margin-top: 50px;
}

.weather-app {
  text-align: center;
  margin-top: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #6d42c7;
}

.weather-forecast-day {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #662eed;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.input-group {
  margin-top: 15px;
}

#city-input {
  width: 50%;
  border-radius: 30px;
  padding: 5px;
  height: 50px;
  background: #ebe6e6;
  border: 2px solid #662eed;
  text-align: center;
}

#search-button {
  margin-left: 2%;
  border-radius: 30px;
  background: #662eed;
  color: #fceaea;
  border-style: outset;
  border: 2px solid #662eed;
  padding: 12px 24px;
  text-shadow: none;
}

#current-location-button {
  margin-left: 3%;
  border-radius: 30px;
  background: #662eed;
  color: #fceaea;
  border-style: outset;
  border: 2px solid #662eed;
  padding: 12px 24px;
  text-shadow: none;
}
